@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.hidden {
  display: none;
}

.popup {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 4;
}

.popup__container {
  max-width: 390px;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  display: block;
 }

.sign-up {
  background-color: #ffffff;
  color: #ffffff;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
 }


.sign-up__header {
  background-color: #ffffff;
  color: #ffffff;
  font-size: 16px;
}

.sign-up__title {
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.sign-up__title::after {
  content: " ";
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.popup__close {
  position: absolute;
  top: -15px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.75);
  background-image: url(../svg/form-x.svg);
}

.popup__close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close:after {
  transform: translate(-50%, -50%) rotate(130deg);
}

.popup__close:before,
.popup__close:after {
  content: "";
  border-radius: 16px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.4em;
  height: 0.2em;
}

.popup__close-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  padding-left: 10px;
  padding-right: 25px;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 3%;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  font-family: Open Sans;
  border: none;
}

.select:focus {
  outline: 1px solid #b59f5b;
  width: 330px;
  height: 48px;
  background-color: #f4f7f6;
}

.select-label {
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  font-family: Open Sans;
}

.form-radio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 20px;
 }


.form-radio-text {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: Open Sans;
  margin-bottom: 20px;
  width: 100%;
}

.radio-text {
  display: inline-block;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: Open Sans;
  margin-right: 15px;
}

.radio-text::before {
  margin-right: 7px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #b59f5b;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
 
}

.radio:focus ~ .radio-text::before {
  border: 1px solid #b59f5b;
  border-radius: 50%;

}

.radio:checked ~ .radio-text::before {
  background-image: url(../svg/form-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 14px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
 background-color: #b59f5b;
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.text-form-group {
  margin-bottom: 15px;
}

.field-label {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: Open Sans;
}

.field-textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 131px;
  background-color: #f4f7f6;
  border: 2px solid #dadada;
  margin: 0;
  font-size: 13px;
  padding: 10px 20px;
  min-height: 130px;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: Open Sans;
  margin-top: 10px;
  resize: none;
}

.field-textarea:focus {
  width: 330px;
  height: 131px;
  background-color: #f4f7f6;
  outline: 1px solid #b59f5b;
}

.form-actions {
  margin-bottom: 50px;
}

.pop-button-submit {
  width: 100%; 
  height: 48px;
  background-color: #b59f5b;
  margin-bottom: 50px;
  border: none;
 }

.pop-button-submit:hover {
  width: 330px;
  height: 48px;
  background-color: #323232;
}

.pop-button-submit-text {
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: Open Sans;
  text-transform: uppercase;
}


@media (max-width: 640px) {

.header {
   background-image: url(../images/banner-mobile.jpg);
   width: 100%;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   position: relative;
   background-color: #000000;
   padding: 30px 0px 120px 0;
   z-index: 1;
 }

}

@media (min-width: 641px) and (max-width: 1200px) {

.header {
   background-image: url(../images/banner-bg-tablet.jpg);
   width: 100%;
   max-width: 1200px;
   min-width: 641px;
   background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
   position: relative;
   background-color: #000000;
   padding: 30px 0px 120px 0;
    z-index: 1;
 }

}

@media (min-width: 641px) and (max-width: 1200px) {

.header {
   background-image: url(../images/banner-bg-tablet.jpg);
   width: 100%;
   max-width: 1200px;
   min-width: 641px;
   background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
   position: relative;
   background-color: #000000;
   padding: 30px 0px 120px 0;
    z-index: 1;
 }

}

@media (min-width: 1200px) {
.header {
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 1;
  padding: 30px 0px 120px 0;
  width: 100%;
 }
}

.header::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 0;
}


@media (max-width: 640px) {
.container {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
   }
}



@media (min-width:641px) and (max-width: 1200px) {

.container {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 2.5%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 10%;
   }

}


.container {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

@media (max-width: 640px) {
.header-logo {
  min-width: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10%;
 }
}



.header-logo {
  width: 180px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
 }

@media (min-width: 1200px) {
	.menu__button {
		display: none;
	}
}



@media (min-width:641px) and (max-width: 1199px) {

  .menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

 .menu__button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .menu__button:before {
    top: 0;
  }

  .menu__button:before, .menu__button:after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }


  .menu__button {
     width: 1.4em;
    height: 1em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
   }


  .menu__button:after {
    bottom: 0;
  }

  .menu-list-item {
  	display: none;
  }

}


@media (max-width: 640px) {
.menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 80%;
    margin-bottom: 70%;
  }

 .menu__button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .menu__button:before {
    top: 0;
  }

  .menu__button:before, .menu__button:after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }


  .menu__button {
     width: 1.4em;
    height: 1em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
   }


  .menu__button:after {
    bottom: 0;
  }

  .menu-list-item {
  	display: none;
  }
}


 .menu-list {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.menu-list-item {
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  font-family: Open Sans;
  text-transform: uppercase;
  list-style-type: none;
  vertical-align: top;
  margin-left: 40px;
}

.menu-link {
  text-decoration: none;
  color: #fbfdfc;
 }

.menu-link:first-child {
  margin-left: 0;
}

.menu-link:last-child {
  margin-right: 0;
}

.menu-link:hover {
  text-decoration: underline;
}

@media (min-width:641px) and (max-width: 1199px) {

  .header-title {
    min-width: 100%;
    margin-bottom: 8%;
     }

 }

@media (max-width: 640px) {
	.header-title {
    min-width: 100%;
    margin-bottom: 8%;
    margin-top: 0;
      }
}

.header-title {
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 }

@media (min-width:641px) and (max-width: 1199px) {
  .header-title-about {
  	 font-size: 40px;
  	 line-height: 55px;
     min-width: 60%;
  }
}

@media (max-width: 640px) {
	.header-title-about {
	min-width: 98%;
  	 width: 328px;
    height: 384px;
    font-size: 26px;
    line-height: 36px;
     color: #ffffff;
    font-weight: 700;
    font-family: Open Sans;
    text-align: center;
  }
}


.header-title-about {
  width: 49%;
  font-size: 45px;
  line-height: 75px;
  color: #ffffff;
  font-weight: 700;
  font-family: Open Sans;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}


.trend-section {
  width: 100%;
  display: flex; 
  flex-direction: column;
}

.trend-header {
  font-size: 20px;

  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  margin-top: 20px;
  
}

.section__header:after {
  content: " ";
  width: 66px;
  height: 3px;
  display: flex;
  background-color: #b59f5b;
  margin-bottom: 35px;
  margin-left: 62%;
 }


@media (max-width: 640px) and (orientation: portrait) {
  .card-container {
   display: flex;
   flex-wrap: wrap;
   min-width: 100%;
  }

.all-cards {
	min-width: 100%;
	min-height: 247px;
	margin-bottom: 0.2%;
 }

}

@media (max-width: 640px) and (orientation: landscape) {
  .card-container {
   display: flex;
   flex-wrap: wrap;
   min-width: 100%;

 }

.all-cards {
	min-width: 49%;
	min-height: 247px;
	margin-bottom: 0.2%;
 }

}


@media (min-width:641px) and (max-width: 1200px) and (orientation: portrait) {
  .card-container {
   display: flex;
   flex-wrap: wrap;
   min-width: 100%;
 }

.all-cards {
	min-width: 49.5%;
	min-height: 247px;
	margin-bottom: 0.2%;
 }

 .card2, .card4 {
 	margin-right: 0px;
 }

}


.card-container {
   display: flex;
 }


.all-cards { /*п.9 в рекомендациях очень помог!*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #eff6f1;
  width: 25%;
  min-height: 319px;
  margin-right: 0.2%; 
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-left: 10px;
  padding-bottom: 15px;
  flex-basis: 1;
 }

.all-cards:last-child {
 margin-right: 0;
}

.card1 {
  background-image: url(../images/trend1.jpg);
}

.card2 {
  background-image: url(../images/trend2.jpg);
}

.card3 {
  background-image: url(../images/trend3.jpg);
}

.card4 {
  background-image: url(../images/trend4.jpg);
}

.all-cards::after{
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 0;
 }


.card__body {
  width: 90%;
  height: 48%;
  box-sizing: border-box;
  padding: 30px 2px 35px 25px;
  border: 3px solid #b59f5b;
  position: relative;
  text-align: stretch;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  margin-left: 5%;
  margin-bottom:2%;
  flex-basis: 1;
 }

.card__name {
width: 90%;
font-size: 20px;
line-height: 24px;
color: #ffffff;
font-weight: 700;
font-family: Open Sans;
z-index: 1;
margin-top: 15px;
}

.card__name:hover {
font-size: 20px;
line-height: 24px;
color: #b59f5b;
font-weight: 700;
font-family: Open Sans;
}

.trend-tags-list {
  display: flex;
  flex-direction: row;
  vertical-align: top;
  list-style-type: none;
  z-index: 1;
}

.page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1200px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}


.main-content {
	width: 75%;
}

@media (min-width:641px) and (max-width: 1200px) {
  
  .page {
  	justify-content: space-around;
  }


  .main-content {
    margin-right: 2%;
    margin-left: 3%;
  	max-width: 46%;
  	  }
  
  .travel { 
  	display: flex;
  	flex-direction: column;
    }	
}

@media (max-width: 640px) {
	.page {
	flex-direction: column;
  	justify-content: center;
  }

  .main-content {
    margin-right: 5%;
    margin-left: 5%;
  	min-width: 90%;
  	max-width: 329px;
  	margin-bottom: 10%;
  	  }

  .travel-info {
  	max-width: 95%;
  }	  
  
  .travel { 
  	display: flex;
  	flex-direction: column;
    }	


}


.travel-articles {
  max-width: 860px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.travel-preview {
	margin-right: 25px;
}

.travel {
  display: flex;
  margin-top: 70px;
}

.travel:first-child{
  margin-top: 0;
}

@media (min-width:641px) and (max-width: 1200px) {
   .travel-img { 
  	min-width: 381px;
  }	

  .tags-list {
  	margin-top: 15px;
  }
}

.travel-img {
   min-width: 381px;
   width: 100%;
  }

.tags-list {
  display: flex;
  vertical-align: top;
  list-style-type: none;
}

.tag-list {
  text-decoration: none;
  font-size: 14px;
  color: #b59f5b;
  font-weight: 700;
  font-family: Open Sans;
  text-transform: uppercase;
  margin-right: 15px;
 }

.tag-list:hover {
  text-decoration: underline;
}

ul.tags-list li.tag-list:last-child {
  margin-right: 0;
}

h3 {
  text-transform: uppercase;
}

.page-link {
  color: #0f0d0e;
  text-decoration: none;
}

.page-link:hover {
  color: #b59f5b;
}

.travel-name {
	margin-top: 15px;
}

.date-autor-list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  list-style-type: none;
  vertical-align: center;
}

.card-date {
  margin: 15px 0 15px 0;
  font-size: 12px;
  color: #888888;
  font-family: Open Sans;
  font-weight: 400;
  
}

.author {
  margin: 15px 0 15px 25px;
  font-size: 12px;
  color: #000000;
  font-weight: 700;
  font-family: Open Sans;
}

.travel-description {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: Open Sans;

}


.travel-info {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  }


@media (min-width:641px) and (max-width: 1200px) {
  .aside-content {
  	max-width: 48%;
   }
  
}

@media (max-width: 640px) {
	.aside-content {
  	 min-width: 272px;
  	 max-width: 329px;
  	 display: flex;
  	 flex-direction: column;
  	 justify-content: center;
  	 align-items: center;
  	 margin-left: 5%;
  	 margin-right: 5%;
     }

     .side-bar {
      min-width: 100%;
      align-items: stretch;
     }

     .last-news-header {
     	max-width: 100%;
     	display: flex;
     	justify-content: center;
        margin: auto;
       }

     .last-news-title {
     	margin: auto;
     	width: 100%;
     	margin-left: 80%;
     }

    .search-section {
      min-width: 100%;
      align-items: center;
      margin-left: 0;
      margin-right: 0;
     } 

   .search {
    min-width: 100%;
    }

  .preview-picture {
  	min-width: 100%
  }

  .aside-image {
  	min-width: 100%;
  }

}

.aside-content {
  font-size: 14px;
  min-width: 272px;
}

.side-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.last-news-title {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
  text-transform: uppercase;
}

.last-news-title:after {
  content: " ";
  border-bottom: 3px solid #b59f5b;
  border-bottom-height: 67px;
  padding-bottom: 10px;
  color: #0f0d0e;
  width: 60%;
  align-items: center;
}

.post-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;
  }

.preview-picture {
  margin: 0 15px 0px 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 71px;
}


.last-post-date {
  font-size: 12px;
  line-height: 20px;
  color: #888888;
  font-weight: 400;
  font-family: Open Sans;
}

.last-post-link {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  font-family: Open Sans;
}

.last-post-link:hover {
  color: #b59f5b;
}

.search-section {
  margin: 70px 0 50px 0;
  min-width: 271px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.search {
  max-height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  vertical-align: top;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.field {
  border: 2px solid #dfe0df;
  padding: 10px 25px 10px 15px;
  margin: auto;
  min-height: 48px;
  width: 223px;
  display: flex;
  align-items: baseline;
  font-size: 14px;
  background-color: #f4f7f6;
}

.button {
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center center;
  height: 48px;
  width: 48px;
  padding-top: 25px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  border: 0px solid #dfe0df;
}

.button:hover {
  background-color: #313131;
}

.field:focus .button:focus .send-button:focus .subscription:focus {
  outline: 2px solid #b59f5b;
  outline-offset: 2px;
}

.send-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
}

.send-title {
  margin: 3px 0 30px 0;
  padding-left: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
  text-transform: uppercase;
}

.send-title:after {
  content: " ";
  border-bottom: 3px solid #b59f5b;
  border-bottom-height: 66px;
  padding-bottom: 7px;
  color: #0f0d0e;
  width: 80%;
  align-items: center;
}

.subscription {
  display: flex;
  flex-direction: column;
  width: 271px;
  justify-content: center;
  align-items: center;
}

.send-field {
  margin: 30px 0 15px 0;
  min-height: 50px;
  width: 271px;
  border: 2px solid #dfe0df;
  background-color: #f4f7f6;
  padding: 10px 25px 10px 15px;
}

.send-button {
  background-color: #b59f5b;
  border: 0px solid #dfe0df;
  box-sizing: border-box;
  width: 271px;
  min-height: 48px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: Open Sans;
  width: 100%;
}

.send-button:hover {
  background-color: #313131;
}

.aside-tags-section {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.aside-tag-title {
  padding: 0 0 0 0px;
  font-size: 14px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside-tag-title:after {
  content: " ";
  margin-top: 7px;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
}

.aside-tag-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
  text-transform: uppercase;
}

.aside-tag-list-title {
  margin: 0 10px 0 0;
}

.aside-tag-list-title a {
  font-size: 12px;
  line-height: 40px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
  text-decoration: none;
  list-style-type: none;
  border: 3px solid #eeeeee;
  padding: 7px;
}

.aside-tag-list-title a:hover {
  width: 86px;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #b59f5b;
  text-decoration: none;
}

.topics {
  margin-top: 70px;
  width: 100%;
 }

.topics-header {
  display: flex;
  flex-direction: column;
  line-height: 29px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
}

.topics-header:after {
  content: " ";
  margin-top: 7px;
  min-width: 66px;
  min-height: 3px;
  background-color: #b59f5b;
}

.topics-list {
  margin-top: 30px;
}

.topics-list-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
  font-family: Open Sans;
  list-style-type: none;
  border-bottom: 1px solid #eeeeee;
  
}

.link-of-topics-list-title {
  display: flex;
  text-decoration: none;
  color: #0f0d0e;
  font-size: 14px;
  line-height: 47px;
  padding-bottom: 2px;
  
}

.link-of-topics-list-title:hover {
  color: #b59f5b;
}

.numbers-of-topics { 
  margin-left: 2px;
  color: #b59f5b;
  font-size: 12px;
  line-height: 36px;
  vertical-align: top;
}

@media (min-width:641px) and (max-width: 1199px) {
  .product-container {
   flex-wrap: wrap;
   justify-content: flex-start;
   
    } 
}

@media (max-width: 640px) {
  .product-container {
   flex-wrap: wrap;
   justify-content: flex-start;
    } 
}


.product-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 70px auto;
  margin-top: 40px;
}

.section__header {
  font-size: 20px;
  line-height: 29px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  }

.section__header::after {
  content: " ";
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-top: 10px;
  margin-right: 62%;
}

@media (max-width: 640px) {

.section__header {
	min-width: 95%;
	justify-content: center;
	margin-left: 5%;
}

 .products {
  flex-wrap: wrap;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
   }

 .product {
  	max-width: 100%;
    margin-bottom: 2%;
    } 

  .product__button {
    margin-right: 25%;
    margin-bottom: 3%;
  }

  .product__content{
  	margin-right: 22%;
  }
   
}


@media (min-width:641px) and (max-width: 1200px) {

  .products {
  flex-wrap: wrap;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
   }

   .product {
  	max-width: 100%;
    margin: 25px;
    margin-right: 5%;
      }

}

.products {
  display: flex;
  align-items: flex-start;
}

.product__title {
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

@media (min-width:641px) and (max-width: 1199px) {
  .product {
  	max-width: 292px;
    margin: 25px;
      }
}
  

.product {
  width: 32%;
  margin: 50px;
  flex-grow: 1;
  position: relative;
  
 }

.product::after {
  content: " ";
  top: 0;
  bottom: 0;
  left: -20px;
  right: -15px;
  position: absolute;
  width: 347px;
  height: 267px;
  background-color: rgba(0, 0, 0, 0);
  outline: 3px solid #b59f5b;
  margin-top: 150px;
  margin-right: 0px;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.product__imgboxes {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 300px;
  height: 204px;
  background-color: #eff6f1;
}

.product__imgbox1 {
  background-image: url(../images/shop-item-desk1.jpg);
}

.product__imgbox2 {
  background-image: url(../images/shop-item-desk2.jpg);
}

.product__imgbox3 {
  background-image: url(../images/shop-item-desk3.jpg);
}

 .product-description {
  width: 301px;
  height: 63px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: Open Sans;
  
 }


.product-link {
  text-decoration: none;
  color: #b59f5b;
  font-size: 14px;
  line-height: 47px;
  line-height: 22px;
  z-index: 1;
}

.product-link:hover {
  color: #323232;
  
}

.product__footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 20px;
}

.product__prices {
  max-width: 80px;
}

.product__price {
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
  flex-direction: column;
  margin-right: 10px;
  width: 50%;
}

.product__price_old {
  font-size: 14px;
  line-height: 24px;
  text-decoration: line-through;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
}

.product__button {
  background-color: #b59f5b;
  border: 0px solid #dfe0df;
  box-sizing: border-box;
  min-width: 140px;
  min-height: 48px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: Open Sans;
  z-index: 1;
}

.product__button:hover {
  background-color: #313131;
}


@media (max-width: 640px) {
	.footer {
  justify-content: center;
  max-width: 698px;
  width: 80%;
  margin: 0;
  }

  .social-section {
   	align-items: center;
   	

     }

  .copyright-text{
  	margin: auto;
  	width: 100%;
  	margin-right: 55%;
  }
}

@media (min-width:641px) and (max-width: 1200px) {
 .footer {
  justify-content: center;
  min-width: 698px;
  width: 80%;
  margin-right: 20%;
  margin-left: auto;
  }

  .social-section {
   	align-items: center;
     }

  .copyright-text{
  	margin-left: 50%;
   min-width: 600px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  
}



.social-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 83px;
  width: 100%;
  background-color: #f4f7f6;
  max-width: 1200px;
  margin-left: 11%;
  margin-right: auto;
}

.socials {
  list-style-type: none;
  background-color: #f4f7f6;
  display: flex;
}

.socials-link {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-size: 20px;
  background-color: #f4f7f6;
  background-position: center;
  padding: 50px 20px 30px 20px;
  margin-right: 10px;
}

.socials-link-twitter {
  background-image: url("../svg/004-twitter.svg");
}

.socials-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.socials-link-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.socials-link-instagram {
  background-image: url("../svg/005-instagram.svg");
}

.socials-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.copyright {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 41px;
  margin-left: 30%;
  min-width: 600px;
}

.copyright-text {
  font-size: 12px;
  color: #999999;
  font-weight: 700;
  font-family: Open Sans;
  max-width: 100%;
  }

.copyright-text a {
  text-decoration: none;
  color: #999999;
}
